#password-reset-page-navbar{
    width: 50%;
}

#password-reset-page-language-dropdown{
    left: -150%;
}

.password-reset-page-nav-link{
    font-weight: 400;
    font-size: 14px;
}

#password-reset-page-header1{
    font-size: 28px;
}

#password-reset-page-header2{
    font-size: 14px;
    font-weight: normal;
    margin: 16px 0 16px 0;
}

#password-reset-page-login-input-container{
    margin: 5px 0 5px 0;
}

#password-reset-page-login-input{
    border-radius:100px;
    padding-right: 15px;
    padding-left: 15px;
}

#password-reset-page-bottom-form-container{
    margin: 25px 0 25px 0;
}

#password-send-page-login-input{
    width: 1em;
    margin-right: 5px;
}